@media (max-width: 767px) {
    .section-title h2 {
        position: relative;
        text-transform: uppercase;
        padding-bottom: 22px;
        font-size: 25px;
        font-weight: 900;
    }

    .footer-ul {
        display: flex;
        flex-direction: column;
    }

    .footer-top-text {
        text-align: left !important;
    }

    .footer-top-text {
        margin-bottom: 30px;
    }

    .footer-top-text ul li {
        margin-left: 0;
        padding: 10px 0;
    }

    .footer-top-text ul li {
        margin-left: 0;
    }

    .footer-top-text li:before {
        display: none;
    }

    .footer-top-text {
        margin-bottom: 30px;
    }

    .footer-icon ul {
        padding-left: 0;
    }

    .footer-content {
        padding-left: 0px;
    }

    .footer-content {
        padding-bottom: 10px;
    }

    .footer-adress {
        padding-left: 0px;
    }

    .footer-adress:before {
        display: none;
    }

    .footer-adress:after {
        display: none;
    }
}